<div class="topDev">
    <span class="dot"></span>
    <span class="dot1"></span>
    <!-- <div class="container"> -->
        <div class="row mt-5 p-5">
            <div class="col col-md-2 col-lg-2"></div>
            <div class="col col-md-3 col-12 col-lg-3 mt-5">
                <form [formGroup]="singupForm" (ngSubmit)="signUp()">
                    <!-- <img src="../assets/img/profile.svg"> -->
                    <h4 class="title text-center mb-4">Sign Up</h4>
                    <div class="form-group">
                        <label class="ml-2" for="name">User Name</label>
                        <input formControlName="username" style="border-radius:15px ;" type="text" class="form-control" id="name" aria-describedby="name">
                    </div>
                    <div class="form-group">
                        <label class="ml-2" for="exampleInputEmail1">Email address</label>
                        <input formControlName="email"style="border-radius:15px ;" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label class="ml-2" for="exampleInputPassword1">Password</label>
                        <input formControlName="password"style="border-radius:15px ;" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                        <label class="ml-2" for="conPassword">Confrim Password</label>
                        <input formControlName="conPassword"style="border-radius:15px ;" type="password" class="form-control" id="conPassword">
                    </div>
                    <input type="submit" class="btn" value="Register">
                </form>
               <a style="color:black" routerLink="/login">Already have an account? <span style="color:#8ae1c4 ;">Sign In</span> </a>
            </div>
            <div class="col col-md-3"></div>
            <div class="col col-md-4 col-lg-4 col-12 mt-5">
                <h1 class="title">Welcome Onboard!</h1>
                <p>Enter the world of unknown...!!</p>
                <img src="../assets/img/register.svg" alt="" width="90%" class="h-60">
            </div>
        </div>
    <!-- </div> -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 53 1411 100">
        <path fill="#8ae1c4" fill-opacity="1" d="M0,96L48,133.3C96,171,192,245,288,256C384,267,480,213,576,170.7C672,128,768,96,864,74.7C960,53,1056,43,1152,64C1248,85,1344,139,1392,165.3L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
    </svg>
</div>