<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<ul>
  <li><a class="active" href="dashboard"><img src="../assets/img/logo.svg" width="60" alt="" srcset=""></a></li>
  <li><a id="name" href="dashboard">Hypnos</a></li>
  <li><a href="#contact"><input type="text" class="form-control"></a></li>
  <li id="icon" style="float:right">
    <h3><i (click)="logout()" class="fa-solid fa-right-to-bracket"></i></h3>
  </li>
  <li id="icon" style="float:right"><a href="#about">
      <h3><i class="fa-solid fa-gear"></i></h3>
    </a>
  </li>
  <li id="icon" style="float:right"><a href="#about">
      <h3><i class="fa-solid fa-bell"></i></h3>
    </a></li>
  <li id="icon" style="float:right"><a href="#about">
      <h3><i class="fa-solid fa-user"></i></h3>
    </a></li>
  <li id="icon" style="float:right"><a href="#about">
      <h3><i class="fa-solid fa-comments"></i></h3>
    </a></li>
</ul>
<!-- <div class="container">
  <div  class="row p-2">
    <div id="upicon"  class="col col-2  ">
      <h3><i class="fa-solid fa-camera"></i></h3>
    </div>
    <div class="col  mt-2 col-8 ">
      <h1 class="text-center">Hypnos</h1>
    </div>
    <div id="upicon" class="col col-2  ">
      <h3><i class="fa-solid fa-gear"></i></h3>
    </div>
  </div>
</div> -->