<!-- <div>
    <div class="card" >
      <div class="card-hedder p-2" style="border:  black 10px ;" >
        <div class="row">
            <div class="col col-md-1 col-lg-1 col-1">
                <img src="./assets/img/logo.svg" width="50px" alt="">
            </div>
            <div style="text-align:text-center;" class="col mt-2 col-md-3 col-lg-3 col-3"><h2>name</h2></div>
        </div>
         
      </div>
      <div class="card-body">
        <img src="./assets/img/_DSC0606.JPG" alt="">
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col col-md-1 col-lg-1 col-1"><h2><i class="fa-regular fa-heart"></i></h2></div>
          <div class="col col-md-1 col-lg-1 col-1"><h2><i class="fa-regular fa-comment"></i></h2></div>
          <div class="col col-md-1 col-lg-1 col-1"><h2><i class="fa-regular fa-share-all"></i></h2></div>  
        </div>
        <div class="row">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi ullam, modi iure hic fuga aliquid quo nostrum, sint minima veniam a exercitationem eaque libero eos quod repellat similique tempora placeat!
        </div>
      </div>
    </div>
  </div> -->
  <section>
  <div class="wrapper">
    <div class="left-col">

        <div class="post">
            <div class="info">
                <div class="user">
                    <div class="profile-pic"><img src="./assets/img/logo.svg" width="50px" alt=""></div>
                    <p class="username mt-3 ml-4">name</p>
                </div>
                <img src="img/option.PNG" class="options" alt="">
            </div>
            <img src="img/cover 1.png" class="post-image" alt="">
            <div class="post-content">
                <div class="row">
                    <div class="col col-md-1 col-lg-1 col-1"><h2><i class="fa-regular fa-heart"></i></h2></div>
                    <div class="col col-md-1 col-lg-1 col-1"><h2><i class="fa-regular fa-comment"></i></h2></div>
                    <div class="col col-md-1 col-lg-1 col-1"><h2><i class="fa-regular fa-share-all"></i></h2></div>
                    <div class="col col-md-8 col-lg-8 col-8"></div>  
                    <div class="col col-md-1 col-lg-1 col-1"><h2><i class="fa-solid fa-paper-plane"></i></h2></div> 
                  </div>
                <p class="likes">1 likes</p>
                <p class="description"><span>username </span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tenetur veritatis placeat, molestiae impedit aut provident eum quo natus molestias?</p>
                <p class="post-time">2 minutes ago</p>
            </div>
            <div class="comment-wrapper">
                <img src="img/smile.PNG" class="icon" alt="">
                <input type="text" class="comment-box" placeholder="Add a comment">
                <button class="comment-btn">post</button>
            </div>
        </div>
        <div class="post">
            <div class="info">
                <div class="user">
                    <div class="profile-pic"><img src="./assets/img/logo.svg" width="50px" alt=""></div>
                    <p class="username mt-3 ml-4">name</p>
                </div>
                <img src="img/option.PNG" class="options" alt="">
            </div>
            <img src="img/cover 1.png" class="post-image" alt="">
            <div class="post-content">
                <div class="row">
                    <div class="col col-md-1 col-lg-1 col-1"><h2><i class="fa-regular fa-heart"></i></h2></div>
                    <div class="col col-md-1 col-lg-1 col-1"><h2><i class="fa-regular fa-comment"></i></h2></div>
                    <div class="col col-md-1 col-lg-1 col-1"><h2><i class="fa-regular fa-share-all"></i></h2></div>  
                  </div>
                <p class="likes">2 likes</p>
                <p class="description"><span>username </span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tenetur veritatis placeat, molestiae impedit aut provident eum quo natus molestias?</p>
                <p class="post-time">2 minutes ago</p>
            </div>
            <div class="comment-wrapper">
                <img src="img/smile.PNG" class="icon" alt="">
                <input type="text" class="comment-box" placeholder="Add a comment">
                <button class="comment-btn">post</button>
            </div>
        </div>
        
        
    </div>
</div>
</section>