<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<!-- <ul>
  <li><a class="active" href="dashboard"><img src="../assets/img/logo.svg" width="60" alt="" srcset=""></a></li>
  <li><a id="name" class="p-4 " href="dashboard">Hypnos</a></li>
  <li><a href="#contact"><input type="text" class="form-control"></a></li>
  <li id="iconbg" style="float:right">
    <h1><i (click)="logout()" class="fa-solid fa-right-to-bracket"></i></h1>
  </li>
  <li id="iconbg" style="float:right"><a href="#about">
      <h1><i class="fa-solid fa-gear"></i></h1>
    </a>
  </li>
  <li id="iconbg" style="float:right"><a href="#about">
      <h1><i class="fa-solid fa-bell"></i></h1>
    </a></li>
  <li id="iconbg" style="float:right"><a href="#about">
      <h1><i class="fa-solid fa-user"></i></h1>
    </a></li>
  <li id="iconbg" style="float:right"><a href="#about">
      <h1><i class="fa-solid fa-comments"></i></h1>
    </a></li>
</ul> -->
<div class="row">
  <div class="col col-md-4 col-lg-3"></div>
  <div class="col col-md-4 col-12 col-lg-4">
    <div class="container">
      <!-- upper -->
      <div id="upper" class="row p-2">
        <div id="upicon"  class="col col-2 col-lg-2  ">
          <h1><i class="fa-solid fa-camera"></i></h1>
        </div>
        <div class="col  mt-2 col-8 ">
          <h1 id="hypnos" class="text-center">Hypnos</h1>
        </div>
        <div id="upicon" class="col col-2  ">
          <h1><i class="fa-solid fa-gear"></i></h1>
        </div>
      </div>



      <div>
        <div class="card" >
          <div class="card-hedder p-2" style="border:  black 10px ;" >
            <img src="./assets/img/logo.svg" style="border-radius:100px ;" width="40px" alt=""> name
          </div>
          <div class="card-body">
            <img src="./assets/img/pexels-matt-hatchett-3248777.jpg" alt="">
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col col-md-1 col-lg-1 col-1"><h2><i class="fa-regular fa-heart"></i></h2></div>
              <div class="col col-md-1 col-lg-1 col-1"><h2><i class="fa-regular fa-comment"></i></h2></div>
              <div class="col col-md-1 col-lg-1 col-1"><h2><i class="fa-regular fa-share-all"></i></h2></div>  
            </div>
            <div class="row">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi ullam, modi iure hic fuga aliquid quo nostrum, sint minima veniam a exercitationem eaque libero eos quod repellat similique tempora placeat!
            </div>
          </div>
        </div>
      </div>







      <!-- bottom   -->
      <div id="bottomst" class="row">
        <div class="col col-md-2 col-lg-1">
          <h1><i class="fa-solid fa-house-chimney"></i></h1>
        </div>
        <div class="col col-md-2 col-lg-2">
          <h1><i class="fa-solid fa-comments"></i></h1>
        </div>
        <div class="col col-md-3 col-lg-3"></div>
        <div class="col col-md-2 col-lg-2">
          <h1><i class="fa-solid fa-user"></i></h1>
        </div>
        <div class="col col-md-2 col-lg-2">
          <h1><i class="fa-solid fa-bell"></i></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-md-4 col-lg-4">
    
  </div>
</div>

<!-- <div id="bottom" class="bottom">
        <div class="col text-center ml-3  col-2">
          <div class="post"><h1><i class="fa-solid fa-plus"></i></h1></div>
        </div>
        <div class="row">
          <div class="col text-center mt-3 ml-3  col-2">
            <h1><i class="fa-solid fa-house-chimney"></i></h1>
          </div>
          <div class="col text-center mt-3   col-2">
            <h1><i class="fa-solid fa-comments"></i></h1>
          </div>
          <div class="col text-center ml-3  col-2">
            
          </div>
          <div class="col text-center mt-3 ml-3  col-2">
            <h1><i class="fa-solid fa-user"></i></h1>
          </div>
          <div class="col text-center mt-3   col-2">
            <h1><i class="fa-solid fa-bell"></i></h1>
          </div>
        </div>
      </div> -->