
/* input{
    position: absolute;
width: 360px;
height: 50px;
left: 370px;
top: 5px;

background: #FFFFFF;
border-radius: 10px;
} */
/* .navbar{
    background-image: linear-gradient(to right ,#8ae1c4, #8ae1c477);
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 7px;
      overflow: hidden;
      background-image: linear-gradient(to right ,#8ae1c4, #8ae1c477);
    }
    
    li {
      float: left;
    }
    
    li:last-child {
      border-right: none;
    }
    
    li a {
      
      color: rgb(0, 0, 0);
      text-align: center;
      text-decoration: none;
    }
    
    li a:hover:not(.active) {
      background-color: #8ae1c4;
    } */
    .fa-solid{
      align-items: center;
      width: 30px;
    }
    .active {
      background-color: #8ae1c4;
    }
    #name{
      font-size: 40px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      color: black;
    }
    #iconbg{
      padding: 15px;
      width: 50px;
    }
    .fa-solid{
      margin-top: 15px;
      margin-left: 5px;
    }
    #hypnos{
      font-size: 40px;
      margin-top: 9px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .container{
      position: fixed;
    }
    #upicon{
      display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  
  width: 59.42px;
  height: 59.42px;
  
  background: #8FE1D7;
  border-radius: 50.4724px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
    }
  body{
    background-color: aliceblue;
    height: 840px;
  }
  /* .bottom{
    position: absolute;
height: 119px;
  }
  #bottom{
    box-sizing: border-box;
position: absolute;
width: 402px;
height: 91px;
left: 0px;
top: 28px;
margin-top: 730px;

background: rgba(143, 225, 215, 0.6);
  }
  .post{
    border-radius: 50%;
background: linear-gradient(145deg, #f0f0f0, #cacaca);
box-shadow:  5px 5px 5px #5a5a5a,
             -5px -5px 5px #ffffff;
             margin-left: 140px;
             margin-bottom: 70px;
             position: absolute;
width: 68.64px;
height: 68.64px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  } */
  #upper{
    align-items: start;
  }
  #downer{
    align-items: baseline;
  }