<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<!-- <ul>
  <li><a class="active" href="dashboard"><img src="../assets/img/logo.svg" width="60" alt="" srcset=""></a></li>
  <li><a id="name" class="p-4 " href="dashboard">Hypnos</a></li>
  <li><a href="#contact"><input type="text" class="form-control"></a></li>
  <li id="iconbg" style="float:right">
    <h1><i (click)="logout()" class="fa-solid fa-right-to-bracket"></i></h1>
  </li>
  <li id="iconbg" style="float:right"><a href="#about">
      <h1><i class="fa-solid fa-gear"></i></h1>
    </a>
  </li>
  <li id="iconbg" style="float:right"><a href="#about">
      <h1><i class="fa-solid fa-bell"></i></h1>
    </a></li>
  <li id="iconbg" style="float:right"><a href="#about">
      <h1><i class="fa-solid fa-user"></i></h1>
    </a></li>
  <li id="iconbg" style="float:right"><a href="#about">
      <h1><i class="fa-solid fa-comments"></i></h1>
    </a></li>
</ul> -->
<div class="container">
    <div class="row p-2">
      <div id="upicon"  class="col col-2  ">
        <h1><i class="fa-solid fa-camera"></i></h1>
      </div>
      <div class="col  mt-2 col-8 ">
        <h1 id="hypnos" class="text-center">Hypnos</h1>
      </div>
      <div id="upicon" class="col col-2  ">
        <h1><i class="fa-solid fa-gear"></i></h1>
      </div>
    </div>
    <div id="bottom" class="bottom">
      <div class="col text-center ml-3  col-2">
        <div class="post"><h1><i class="fa-solid fa-plus"></i></h1></div>
      </div>
      <div class="row">
        <div class="col text-center mt-3 ml-3 text-light col-2">
          <h1><i class="fa-solid fa-house-chimney"></i></h1>
        </div>
        <div class="col text-center mt-3  text-light col-2">
          <h1><i class="fa-solid fa-comments"></i></h1>
        </div>
        <div class="col text-center ml-3  col-2">
          
        </div>
        <div class="col text-center mt-3 ml-3 text-light col-2">
          <h1><i class="fa-solid fa-user"></i></h1>
        </div>
        <div class="col text-center mt-3  text-light col-2">
          <h1><i class="fa-solid fa-bell"></i></h1>
        </div>
      </div>
    </div>
</div>

